/* Enter your custom styles here */
.roundClass .sapMBtnInner{
	width: 40px;
	height: 40px;
    border-radius:30px;
    background-color: #c0c0c0;
  }

.redBtColor .sapMBtnInner{
	background-color: #FF0000;
}

.greenBtColor .sapMBtnInner{
	background-color: #00FF00;
}

.yellowBtColor .sapMBtnInner {
	background-color: #FFFF00;
}

.blueBtColor .sapMBtnInner {
	background-color: #0000FF;
}

.blackBtColor .sapMBtnInner {
	background-color: #000000;
}

.whiteBtColor .sapMBtnInner {
	background-color: #FFFFFF;
}

.roundBoldClass .sapMBtnInner{
	width: 40px;
	height: 40px;
    border-radius:30px;
	border-width:2px;
	border-color: #000000;
    background-color: #c0c0c0;
	align-items: center;
  }